---
layout: default
---

<header class="site-masthead">
    <h1 class="neon">
      {{ site.title }}
    </h1>
    <h2>
      {{ site.description }}
    </h2>
</header>

<main class="home" id="main" role="main" aria-label="Content">

  <center>
    <div>
      <div style="margin-bottom: 32px;">
        <a class="cta" href="https://ko-fi.com/briandavidhall">Buy on Amazon</a>
      </div>

      <div>
        <select onchange="onSelectChange(this.value)">
          <option value="" selected disabled hidden>Do something else</option>
          <option value="https://ko-fi.com/s/1e2056c7ea">Buy from the author (pay what you want)</option>
          <option value="/htfyf-sample.pdf">Read a sample chapter</option>
          <option value="https://briandavidhall.com/anonymous-feedback/">Send the author an anonymous message</option>
        </select>
      </div>
    </div>
  </center>

</main>

<script type="text/javascript">
function onSelectChange(val) {
  location = val;
}
</script>

